* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
  line-height: 1.4;
  color: #444;
}
h1 {
  text-align: center;
  margin: 2rem auto;
}
.accordion {
  max-width: 600px;
  margin: 6rem auto 4rem;
  padding: 0 10px;
}
.accordionItem {
  list-style: none;
  margin-bottom: 2rem;
}
.button {
  font-size: 16px;
  background-color: orange;
  color: #fff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
}
.icon {
  font-size: 20px;
}
.content {
  background-color: #f7f7f7;
  padding: 20px;
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s
}
.content.open {
  height: 100%;
}
